@model Post

<h1>Edytuj post</h1>
<form asp-action="Update" asp-controller="Post" method="post">
    <input asp-for="PostId" />
    <div class="mb-3">
        <label asp-for="PostContent">Zawartość</label>
        <input class="form-control" asp-for="PostContent" />
        <span class="text-danger" asp-validation-for="PostContent"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PostAuthor">Autor wpisu</label>
        <input class="form-control" asp-for="PostAuthor" />
        <span class="text-danger" asp-validation-for="PostAuthor"></span>
    </div>

    <div class="form-group">
        <label asp-for="PostContent">Data publikacji</label>
        <input asp-for="PostDate" class="form-control" type="text" readonly value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")">
        <span asp-validation-for="PostDate" class="text-danger"></span>
    </div>

    <!---->
    <div class="mb-3">
        <button type="submit" class="btn-primary">Edytuj</button>
    </div>
</form>