@{
    ViewData["Title"] = "Strona z postami";
}

<div class="text-center">
    <h1 class="display-4">Witaj na Blogu</h1>
    <h3 class="d-flex justify-content-center">Ostatnia wizyta: @ViewData["Visit"]</h3>
</div>

